.css_lbl_texto {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px !important;
    color: #666;
	font-weight: normal;
}

.css_lbl_inputLabel {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    color: #666;
    font-weight: bold;
}

.css_lbl_titulo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #0097d0;
}

.css_lbl_rojo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FF0000;
}

.css_lbl_tituloModal{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #333333;
	font-weight:bold;
	padding-bottom:5px;
	padding-top:5px;	
}

.css_lbl_pie{
	color:#999999;
	text-align:center;
	font-size:11px;
}