<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="NombreAPP" value="SINCO"/>    
  </appSettings>
  <connectionStrings>
    <!--<add name="conSINCO" providerName="SQLServer" connectionString="Data Source=BD-AYNI\CONSTRUCCION; uid=adm_ayni; pwd=Credinka2013; Initial Catalog=bdCRE"/>    -->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState mode="InProc" timeout="60"/>
   
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IInformeAccidenteWS" />
        <binding name="BasicHttpBinding_IListaPrecioWS" />
        <binding name="BasicHttpBinding_IPresupuestoWS" />
        <binding name="BasicHttpBinding_ISiniestroWS" />
        <binding name="BasicHttpBinding_IUtilWS" />
        <binding name="BasicHttpBinding_ITecnicoWS" />
        <binding name="BasicHttpBinding_ILiquidacionWS" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsInformceAccidente/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInformeAccidenteWS"
        contract="wsInformeAccidente.IInformeAccidenteWS" name="BasicHttpBinding_IInformeAccidenteWS" />
      <endpoint address="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsListaPrecio/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IListaPrecioWS"
        contract="wsListaPrecio.IListaPrecioWS" name="BasicHttpBinding_IListaPrecioWS" />
      <endpoint address="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsPresupuesto/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPresupuestoWS"
        contract="wsPresupuesto.IPresupuestoWS" name="BasicHttpBinding_IPresupuestoWS" />
      <endpoint address="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsSiniestro/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISiniestroWS"
        contract="wsSiniestro.ISiniestroWS" name="BasicHttpBinding_ISiniestroWS" />
      <endpoint address="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsUtil/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUtilWS"
        contract="wsUtil.IUtilWS" name="BasicHttpBinding_IUtilWS" />
      <endpoint address="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsTecnico/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITecnicoWS"
        contract="wsTecnico.ITecnicoWS" name="BasicHttpBinding_ITecnicoWS" />
      <endpoint address="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsLiquidacion/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiquidacionWS"
        contract="wsLiquidacion.ILiquidacionWS" name="BasicHttpBinding_ILiquidacionWS" />
    </client>
  </system.serviceModel>
</configuration>
