<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
    <!--<add name="conSINCO" providerName="SQLServer" connectionString="Data Source=BD-AYNI\CONSTRUCCION; uid=adm_ayni; pwd=Credinka2013; Initial Catalog=bdHCRE"/>    -->
    <add name="conSINCO" providerName="SQLServer" connectionString="Data Source=RICARDO-LAPTOP\SQLEXPRESS;Initial Catalog=BD_Seguro;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="DBSeguro" providerName="System.Data.SqlClient" connectionString="server=RICARDO-LAPTOP\SQLEXPRESS; Integrated Security=SSPI; persist security info=True;database=BD_Seguro"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>  
  <system.serviceModel>
    <services>
      <service name="Pacifico.SINCO.WS.InformeAccidenteWS">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IInformeAccidenteWS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsInformceAccidente/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.ListaPrecioWS">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IListaPrecioWS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsListaPrecio/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.PresupuestoWS">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IPresupuestoWS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsPresupuesto/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.SiniestroWS">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.ISiniestroWS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsSiniestro/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.UtilWS">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IUtilWS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsUtil/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.TecnicoWS">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.ITecnicoWS" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsTecnico/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>         
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>          
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
