<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings> 
    <add name="conSINCO" providerName="SQLServer" connectionString="Data Source=RICARDO-LAPTOP\SQLEXPRESS;Initial Catalog=BD_Seguro;Integrated Security=True;MultipleActiveResultSets=True"/>
    <add name="DBSeguro" providerName="System.Data.SqlClient" connectionString="server=RICARDO-LAPTOP\SQLEXPRESS; Integrated Security=SSPI; persist security info=True;database=BD_Seguro"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>  
  <system.serviceModel>
    <services>
      <service name="Pacifico.SINCO.WS.wsInformeAccidente">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IwsInformeAccidente" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsInformceAccidente/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.wsListaPrecio">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IwsListaPrecio" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsListaPrecio/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.wsPresupuesto">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IwsPresupuesto" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsPresupuesto/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.wsSiniestro">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IwsSiniestro" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsSiniestro/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Pacifico.SINCO.WS.wsUtil">
        <endpoint address="" binding="basicHttpBinding" contract="Pacifico.SINCO.WS.Interfaces.IwsUtil" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/SINCO/Pacifico.SINCO.WS/wsUtil/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>         
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>          
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
